<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">SAMPLE APP</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="home" [class.active]="isActive('/home')" *ngIf="isSignedIn">
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="top" *ngIf="!isSignedIn">
          <a [routerLink]="['/']">Home</a>
        </li>
        <li class="users" [class.active]="isActive('/users')" *ngIf="isSignedIn">
          <a [routerLink]="['/users']">Users</a>
        </li>
        <li class="help" [class.active]="isActive('/help')">
          <a [routerLink]="['/help']">Help</a>
        </li>
        <li class="dropdown" *ngIf="isSignedIn">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true" aria-expanded="false">
            Account<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="profile"><a [routerLink]="['/users', 'me']">Profile</a></li>
            <li class="settings"><a [routerLink]="['/users', 'me', 'edit']">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li class="logout"><a href="#" (click)="logout(); $event.preventDefault()">Sign out</a></li>
          </ul>
        </li>
        <li class="login" *ngIf="!isSignedIn">
          <a [routerLink]="['/login']">Sign in</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
