@import 'src/shared/css/index';

mpt-gravatar {
  float: left;
  margin-right: 10px;
}

section {
  padding: 10px 0;
  border-bottom: 1px solid $border-color;
}

section.user h2 {
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 2px;
}
section.user span {
  display: block;
  margin-bottom: 2px;
  line-height: 1;
}

section.relationships a {
  float: left;
  padding: 0 10px;
  border-left: 1px solid $border-color;
}
section.relationships a:first-child {
  padding-left: 0;
  border: 0;
}
section.relationships strong {
  display: block;
}
