@import 'src/css/index';

.wrapper {
  position: relative;
}

$loading_size: 24px;

.loading {
  @include loading();
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -$loading_size/2;
  margin-top: -$loading_size/2;
}

