<ol class="feed list-unstyled">

  <li *ngFor="var f of feed">
    <a [routerLink]="['/UserShow', {id: f.user.id}]">
      <gravatar [email]="f.user.email" size="50" [alt]="f.user.name"></gravatar>
    </a>
    <span class="user">
      <a [routerLink]="['/UserShow', {id: f.user.id}]">{{f.user.name}}</a>
    </span>
    <span class="content">{{f.content}}</span>
    <span class="timestamp">Posted less than {{f.createdAt | timeAgo}}.</span>
    <a *ngIf="isMyPost(f)" class="delete" href="#"
       (click)="delete(f.id); $event.preventDefault()">delete</a>
  </li>

</ol>
