<div>

  <section class="user clearfix">
    <h2>
      <mpt-gravatar [email]="user?.email" size="50" [alt]="user?.name"></mpt-gravatar>
      {{user?.name}}
    </h2>
    <span *ngIf="!shownOnProfile">
      <!-- TODO https://github.com/angular/angular/issues/9801 -->
      <a class="profile-link" [routerLink]="['/users/' + user?.id]">view my profile</a>
    </span>
    <span class="microposts" *ngIf="!shownOnProfile">{{user?.userStats?.micropostCnt | pluralize:'micropost'}}</span>
  </section>

  <section class="relationships clearfix">
    <div>
      <!-- TODO https://github.com/angular/angular/issues/9801 -->
      <a class="followings" [routerLink]="['/users/' + user?.id, 'followings']">
        <strong class="stat">{{user?.userStats?.followingCnt || 0}}</strong> followings
      </a>
      <!-- TODO https://github.com/angular/angular/issues/9801 -->
      <a class="followers" [routerLink]="['/users/' + user?.id, 'followers']">
        <strong class="stat">{{user?.userStats?.followerCnt || 0}}</strong> followers
      </a>
    </div>
  </section>

</div>
