<div>

  <section class="user clearfix">
    <h2>
      <mpt-gravatar [email]="user?.email" size="50" [alt]="user?.name"></mpt-gravatar>
      {{user?.name}}
    </h2>
    <span *ngIf="!shownOnProfile">
      <a class="profile-link" [routerLink]="['/UserShow', {id: user?.id}]">view my profile</a>
    </span>
    <span class="microposts" *ngIf="!shownOnProfile">{{user?.userStats?.micropostCnt | pluralize:'micropost'}}</span>
  </section>

  <section class="relationships clearfix">
    <div>
      <a class="followings" [routerLink]="['/FollowingList', {id: user?.id}]">
        <strong class="stat">{{user?.userStats?.followingCnt || 0}}</strong> followings
      </a>
      <a class="followers" [routerLink]="['/FollowerList', {id: user?.id}]">
        <strong class="stat">{{user?.userStats?.followerCnt || 0}}</strong> followers
      </a>
    </div>
  </section>

</div>
