<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Spring Boot and Angular2 tutorial</title>
    <base href="/" />
    <style type="text/css">
        body {
            padding-top: 5rem;
        }
    </style>
    <link href="<%= "#{ENV['ASSET_URL']}/#{@data['vendor.css']}" %>" rel="stylesheet"></head>
<body>

<mpt-app>test</mpt-app>

<!-- Google Analytics: change UA-74585747-1 to be your site's ID -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74585747-1', 'auto');
    ga('send', 'pageview');
</script>
<script type="text/javascript" src="<%= "#{ENV['ASSET_URL']}/#{@data['polyfills.js']}" %>"></script>
<script type="text/javascript" src="<%= "#{ENV['ASSET_URL']}/#{@data['vendor.js']}" %>"></script>
<script type="text/javascript" src="<%= "#{ENV['ASSET_URL']}/#{@data['main.js']}" %>"></script>
</body>
</html>
