@import 'src/css/index';

aside {
  margin-bottom: $margin-xxsmall;
  position: relative;
}

.follow-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: $margin-medium;
  margin-top: $margin-xsmall;
}
