@import 'src/css/index';

mpt-gravatar {
  float: left;
  margin-right: $margin-xsmall;
}

section {
  padding: $margin-xsmall 0;
  border-bottom: 1px solid $border-color;
}

section.user h2 {
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: $margin-xxsmall;
}
section.user span {
  display: block;
  margin-bottom: $margin-xxsmall;
  line-height: 1;
}

section.relationships a {
  float: left;
  padding: 0 $margin-xsmall;
  border-left: 1px solid $border-color;
}
section.relationships a:first-child {
  padding-left: 0;
  border: 0;
}
section.relationships strong {
  display: block;
}
