<div>

  <h3>Microposts ({{userStats?.micropostCnt}})</h3>
  <ol class="list-unstyled">
    <li *ngFor="let p of posts" [mptStyles]="[styles.list]">
      <span [mptStyles]="[styles.content]">{{p.content}}</span>
      <span [mptStyles]="[styles.timestamp]">Posted about {{p.createdAt | timeAgo}}.</span>
      <a *ngIf="p.isMyPost" href="#" class="delete"
         (click)="delete(p.id); $event.preventDefault()">delete</a>
    </li>
  </ol>

  <button class="btn btn-secondary moreBtn" type="button" (click)="loadMore()"
          [disabled]="noMorePosts">More
  </button>

</div>

